body {
    background-color: rgb(9, 151, 120);
}

.calculator {
    width: 300px;
    margin: 50px auto;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    background-color: rgb(0, 0, 0);
    border-radius: 10px; /* Ajout des bords arrondis */
}

input[type="text"], button {
    margin: 5px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px; /* Ajout des bords arrondis */
}

.operations {
    margin-top: 10px;
}

button {
    cursor: pointer;
    background-color: #333; /* Couleur de fond des boutons */
    color: white; /* Couleur du texte des boutons */
    border: none; /* Suppression de la bordure */
}

button:hover {
    background-color: #555; /* Couleur de fond des boutons au survol */
}

#result {background-color: #ccc;}